# dependencies
node_modules/
**/node_modules/

# Expo / React Native
.expo/
dist/
web-build/
expo-env.d.ts
**/expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
pnpm-debug.*

# macOS
.DS_Store
*.pem

# local env files
.env
.env.*
.env*.local

# typescript
*.tsbuildinfo

# next.js
.next/
out/
build/

# vercel
.vercel

# generated prisma
app/generated/prisma